@font-face {
  font-family: 'Lora';
  src: local('Lora-Regular'), url('/static/fonts/Lora/Lora-Regular.ttf');
}
body {
    background-color: #FEFAE0;
    color: #FEFAE0;
    font-family:'Lora';
  }
.title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color:#344e41;
}
.signup-box {
  background-color: #588157;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}
.signup-box input[type="email"],
.signup-box input[type="password"],
.signup-box input[type="text"] {
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}
.signup-box button {
  background-color: #344e41;
  border: none;
  color: #FEFAE0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.txt{
    text-align: center; 
    color:#FEFAE0
}